.title{
    text-size-adjust: ;
    text-align: left 10px;
    padding: 50px 25px;
}
p  {
    color: black;
    font-family: DB Embossiam X;
    font-size: 120%;
}
h5  {
    color: black;
    font-family: DB Embossiam X;
    font-size: 160%;
}
